.light-icon {
    color: lightblue;
}

.small-icon {
    font-size: 2rem;
}

.floating-right-button {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
}

.list-item-icon {
    font-size: 1.7rem; 
    color: black
}

.list-item-alignment {
    flex: 1;
    display: flex;
    justify-content: center;
}

.list-item-alignment:first-child > span { margin-right: auto; }

.list-item-alignment:last-child  > span { margin-left: auto;  }